Repository DevOpsOct2025Team1/DevOps_Oct2025_T01_Team1_Assignment: changes, and which Codecov flags are due for each by the changed paths.
All: api-gateway, auth-service, user-service, file-service, frontend, common

codecov.yml:

flags:
  api-gateway:
    paths:
      - apps/api-gateway/
    carryforward: true
  auth-service:
    paths:
      - apps/auth-service/
    carryforward: true
  user-service:
    paths:
      - apps/user-service/
    carryforward: true
  file-service:
    paths:
      - apps/file-service/
    carryforward: true
  frontend:
    paths:
      - apps/frontend/
    carryforward: true
  common:
    paths:
      - apps/common/
    carryforward: true

hotfix: prevent multiple deploys workflow at once.
  .github/workflows/deploy.yml
Due: none

chore: update go to 1.26 for better gc performance.
  apps/api-gateway/Dockerfile
  apps/auth-service/Dockerfile
  apps/user-service/Dockerfile
Due: api-gateway, auth-service, user-service

chore: fix codecov report error.
  codecov.yml
Due: none

chore: update README and frontend deps.
  README.md
  apps/frontend/bun.lock
  apps/frontend/package.json
Due: frontend

chore(frontend): improve test coverage.
  apps/frontend/tests/admin-panel.test.tsx
  apps/frontend/tests/create-user-dialog.test.tsx
  apps/frontend/tests/file-item.test.tsx
  apps/frontend/tests/file-list.test.tsx
  apps/frontend/tests/protected-routes.test.tsx
  apps/frontend/tests/user-dashboard.test.tsx
  apps/frontend/tests/user-row-actions.test.tsx
Due: frontend

hotfix: correct mongodb uri on prod compose.
  compose.production.yml
Due: none

chore: add additional documentation to readme.
  README.md
Due: none
